/* Official colour scheme: #00d17c */

body {
    
    margin: 0;
    background-color: #00d17c;
    overflow-x: hidden;
    overflow-y: hidden;
    
}

.logo {
    
    max-width: 100%;
    max-height: 100%;
    
}

.center {
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
    
}

.content {
    
    margin-top: 0;
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 30px;
    
}

/* 
.countdown {
    
    margin-top: 50px;
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 36px;
    
}
*/